footer {
  padding: 15px 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #1B5766;
  padding-bottom: 20px;
}

footer .footer-logo a div {
  margin: 25px 5px;
  margin-left: -35px;
  height: 60px;
  width: 200px;
  background-image: url("../img/logo-FMJ.svg");
  background-size: cover;
  background-position: center;
}

footer .footer-info h5, .footer-help h5, .footer-contacts h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
  cursor: default;
}

footer .footer-info a p, .footer-help a p, .footer-contacts a p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; 
  font-weight: 500;
  line-height: 28px;
  color: #000;
}


footer .footer-links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

footer .footer-links ul li {
  margin: 8px;
  transition: 0.5s ease;
}

footer .footer-links ul li:hover {
  transform: scale(1.5, 1.5);
}

footer .footer-links ul li a i {
  font-size: 25px;
  color: #000;
}

