header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
header .header-logo div {
  margin-left: -75px;
  margin-top: 8px;
  height: 60px;
  width: 240px;
  background-image: url("../img/logo-FMJ.svg");
  background-size: cover;
  background-position: center;
}

header nav ul, header nav {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

header nav {
  width: 80%;
}

header nav .links li {
  font-family: 'Open Sans', sans-serif !important;
}

header nav .links li, header nav .buttons li {
  margin: 0 15px;
  padding: 10px 15px;
}

header nav .links li p {
  display: inline-block;
  color: #000;
  font-size: 17px;
  font-weight: 700;
}

header nav .links li p::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #000;
  transition: 0.3s ease;
}

header nav .links li p:hover::after {
  width: 100%;
}

header nav .buttons li {
  width: 120px;
  text-align: center;
}

header nav .buttons .registration {
  background-color: #F8AC18 !important;
}


header nav .buttons .registration p {
  display: inline-block;
  color: #000;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

header nav .buttons .registration p::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #000;
  transition: 0.3s ease;
}

header nav .buttons .registration p:hover::after {
  width: 100%;
}

header .buttons li {
  border: 3px solid #F8AC18;
  background-color: white;
  border-radius: 5px;
}

header nav .buttons .login p::after, header nav .buttons .location p::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #F8AC18;
  transition: 0.3s ease;
}

header nav .buttons .login p:hover::after, header nav .buttons .location p:hover::after {
  width: 100%;
}

header nav .buttons .login p, header nav .buttons .location p {
  display: inline-block;
  color: #F8AC18;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

header nav .buttons .location, header nav .buttons .login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header nav .buttons .location i {
  font-size: 15px;
  margin-left: 10px;
  color: #F8AC18;
}
