.login-section {
  padding: 75px 0;
  position: relative;
}

.login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.login-form-side {
  max-width: 280px;
  margin-left: 8%;
}

.login-form-side .form-header-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.candidate-login-title, .employer-login-title, .login-form-side .form-header-description {
  margin-top: 15px;
}

.candidate-login-title h4, .employer-login-title h4 {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}

.candidate-login-title h4::after, .employer-login-title h4::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #F8AC18;
  transition: 0.3s ease;
}

.candidate-login-title .true::after, .employer-login-title .true::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #F8AC18;
}

.candidate-login-title h4:hover::after, .employer-login-title h4:hover::after {
  width: 100%;
}

.login-form-side .form-header-description p {
  font-size: 15px;
  font-weight: 400;
  cursor: default;
}

.login-form::before, .forgotten-password::after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #7709AB;
  display: block;
  margin: 20px auto;
  opacity: 0.2;
}

.login-form::before {
  margin-bottom: 0px;
}

.forgotten-password::after {
  margin-top: 10px;
}

.login-form .login-label, .login-form .password-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.login-form .login-input-label p, .login-form .password-input-label p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.login-form .more-info-login i, .login-form .more-info-password i {
  font-size: 12px;
  opacity: 0.2;
  cursor: pointer;
}

.login-form #login-input, .login-form #password-input {
  margin-top: 5px;
  width: 93%;
  border: 1px solid #F8AC18;
  font-size: 14px;
  padding: 10px;
  outline: none;
}

.login-form #login-input::placeholder, .login-form #password-input::placeholder {
  color: #000;
  opacity: 0.4;
}

.forgotten-password {
  margin-top: 7px;
}

.forgotten-password a p {
  font-size: 14px;
  font-weight: 400;
  color: #F8AC18;
}

.bottom-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#remember-me {
  margin: 5px;
  outline: none;
  cursor: pointer;
}

#remember-me:checked {
  background-color: #F8AC18;
  outline: none;
}

.remember-me-label p {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.bottom-form button {
  border: none;
  border-radius: 5px;
  background-color: #F8AC18;
  padding: 10px 23px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease;
  cursor: pointer;
}

.bottom-form button:focus {
  transform: scale(0.95, 0.95);
}

.switch-to-registration {
  margin-top: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-to-registration p {
  text-align: center;
  font-size: 15px;
  color: #33333386;
  line-height: 28px;
  cursor: default;
}

.switch-to-registration p span {
  margin-top: 5px;
  text-decoration: underline;
  color: #F8AC18;
  transition: 0.3s ease;
  cursor: pointer;
}

.switch-to-registration p span:hover {
  color: #7709AB;
}

.login-background-pic-side {
  position: absolute;
  top: 50px;
  right: 0;
  width: 50%;
  height: 500px;
  background: url("../img/login-background-pic.png");
  background-size: cover;
  background-position: center;
  border-radius: 0 210px;
  z-index: -1;
}